body {
      background-color: rgba(244, 164, 96, 0.5);
}


.picture {
      width: 2500px;
      height: 400px;
}

.Sushi {
      display: flex;
      justify-content: space-evenly;
}

.card {
      margin: 0 .5em;
}
